.fortnite_images{
    /* 👇 الحجم */
    max-width: 62%;
    max-height: 62%; /*👆*/
    /* 👇 المكان */
    top: 10px;
    left: 10px; /*👆*/
    position: absolute;
}


.info{
    /* 👇 الحجم */
    max-width: 15%;
    max-height: 15%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 105px; /*👆*/
    position: absolute;
}

.download{
    /* 👇 الحجم */
    max-width: 16%;
    max-height: 16%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 208px; /*👆*/
    position: absolute;
}

/* -----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------Minecraft------------------------------------------------------------------- */

.minecraft_images{
    /* 👇 الحجم */
    max-width: 62%;
    max-height: 62%; /*👆*/
    /* 👇 المكان */
    top: 10px;
    left: 10px; /*👆*/
    position: absolute;
}


.info{
    /* 👇 الحجم */
    max-width: 15%;
    max-height: 15%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 105px; /*👆*/
    position: absolute;
}

.download{
    /* 👇 الحجم */
    max-width: 16%;
    max-height: 16%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 208px; /*👆*/
    position: absolute;
}

/* -----------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------FOOTBALL MANAGER 2023 MOBILE---------------------------------------------------- */

.football-manager_images{
    /* 👇 الحجم */
    max-width: 62%;
    max-height: 62%; /*👆*/
    /* 👇 المكان */
    top: 10px;
    left: 10px; /*👆*/
    position: absolute;
}


.info{
    /* 👇 الحجم */
    max-width: 15%;
    max-height: 15%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 105px; /*👆*/
    position: absolute;
}

.download{
    /* 👇 الحجم */
    max-width: 16%;
    max-height: 16%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 208px; /*👆*/
    position: absolute;
}

/* -----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------GARTEN OF BANBAN 4---------------------------------------------------------- */

.garten-of-banban_images{
    /* 👇 الحجم */
    max-width: 62%;
    max-height: 62%; /*👆*/
    /* 👇 المكان */
    top: 10px;
    left: 10px; /*👆*/
    position: absolute;
}


.info{
    /* 👇 الحجم */
    max-width: 15%;
    max-height: 15%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 105px; /*👆*/
    position: absolute;
}

.download{
    /* 👇 الحجم */
    max-width: 16%;
    max-height: 16%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 208px; /*👆*/
    position: absolute;
}

/* -----------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------BLOONS TD 6------------------------------------------------------------- */

.bloons-td_images{
    /* 👇 الحجم */
    max-width: 62%;
    max-height: 62%; /*👆*/
    /* 👇 المكان */
    top: 10px;
    left: 10px; /*👆*/
    position: absolute;
}


.info{
    /* 👇 الحجم */
    max-width: 15%;
    max-height: 15%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 105px; /*👆*/
    position: absolute;
}

.download{
    /* 👇 الحجم */
    max-width: 16%;
    max-height: 16%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 208px; /*👆*/
    position: absolute;
}

/* -----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------GTA 5 MOBILE--------------------------------------------------------------- */

.gta-mobile_images{
    /* 👇 الحجم */
    max-width: 62%;
    max-height: 62%; /*👆*/
    /* 👇 المكان */
    top: 10px;
    left: 10px; /*👆*/
    position: absolute;
}


.info{
    /* 👇 الحجم */
    max-width: 15%;
    max-height: 15%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 105px; /*👆*/
    position: absolute;
}

.download{
    /* 👇 الحجم */
    max-width: 16%;
    max-height: 16%; /*👆*/
    /* 👇 المكان */
    top: 39px;
    left: 208px; /*👆*/
    position: absolute;
}


